<header>
    <div class="container">
        <div class="header-content">
            <a href="/" class="site-title">KALI JACKSON (@RADICALKJAX)</a>
            <nav>
                <ul>
                    <li><a href="/blog.html">Blog</a></li>
                    <li class="dropdown">
                        <a href="/projects.html" class="dropdown-toggle">Projects</a>
                        <ul class="dropdown-menu">
                            <li><a href="/projects/rocket-pup.html">Rocket Pup</a></li>
                            <li><a href="/projects/caliphoria.html">Caliphoria</a></li>
                            <li><a href="/projects/malwarEvangelist.html">malwarEvangelist</a></li>
                            <li><a href="/projects/presentations.html">Presentations</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/art.html" class="dropdown-toggle">Art</a>
                        <ul class="dropdown-menu">
                            <li><a href="/art/photos.html">Photos</a></li>
                            <li><a href="/art/other-things.html">Other Things</a></li>
                        </ul>
                    </li>
                    <li><a href="/about.html">About Me</a></li>
                    <li><a href="/about/trans-journey.html">Personal Journey</a></li>
                    <li><a href="/connections.html">Connections</a></li>
                </ul>
            </nav>
        </div>
        <div class="social-icons">
            <a href="#" aria-label="BlueSky"><i class="fas fa-butterfly"></i></a>
            <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" aria-label="GitHub"><i class="fab fa-github"></i></a>
        </div>
    </div>
</header>
